<% layout("/layouts/boilerplate") %>
<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100 m-5">
        <div class="row w-100">
            <div class="col-8 offset-2">
                <div class="card shadow-lg border-0 rounded-4">
                    <div class="card-body p-5">
                        <h3 class="text-center mb-5 fw-bold">Create A New Listing</h3>
                        <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="title" class="form-label fw-500">Title</label>
                                <input name="listing[title]" placeholder="Enter catchy title" type="text" class="form-control rounded-3" required>
                                <div class="valid-feedback">Title looks good!</div>
                            </div>
                            
                            <div class="mb-3">
                                <label for="description" class="form-label fw-500">Description</label>
                                <textarea name="listing[description]" class="form-control rounded-3" rows="4" required></textarea>
                                <div class="invalid-feedback">Please enter a short description</div>
                            </div>

                            <div class="mb-3">
                                <label for="category" class="form-label fw-500">Category</label>
                                <select name="listing[categories]" class="form-control rounded-3" required>
                                    <option value="">Select a category</option>
                                    <option value="Trending">Trending</option>
                                    <option value="Rooms">Rooms</option>
                                    <option value="Iconic Cities">Iconic Cities</option>
                                    <option value="Mountains">Mountains</option>
                                    <option value="Castles">Castles</option>
                                    <option value="Camping">Camping</option>
                                    <option value="Farms">Farms</option>
                                    <option value="Arctic">Arctic</option>
                                </select>
                            </div>
                            
                            <div class="mb-3">
                                <label for="image" class="form-label fw-500">Upload Image</label>
                                <input name="listing[image]" class="form-control rounded-3" type="file"/>
                            </div>

                            <div class="row">
                                <div class="mb-3 col-md-4">
                                    <label for="price" class="form-label fw-500">Price</label>
                                    <input name="listing[price]" class="form-control rounded-3" placeholder="1200" required>
                                    <div class="invalid-feedback">Please enter a valid price</div>
                                </div>
                                <div class="mb-3 col-md-8">
                                    <label for="country" class="form-label fw-500">Country</label>
                                    <input name="listing[country]" class="form-control rounded-3" required placeholder="India" type="text"/>
                                    <div class="invalid-feedback">Country name should be valid</div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="location" class="form-label fw-500">Location</label>
                                <input name="listing[location]" class="form-control rounded-3" placeholder="Enter location" type="text">
                            </div>

                            <div class="text-center mt-5">
                                <button class="btn btn-dark add-btn rounded-3 px-5 py-2 fw-600">ADD</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
